.modal-backdrop {
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal {
  background: rgb(48, 48, 48);
  padding: 0.5rem;
  border-radius: 8px;
  outline: 2px solid #999999;
  width: 300px;
}

.modal h2 {
  margin-top: 0; 
  margin-bottom: 1rem; 
  color: #ffffff;      
  font-size: 1.5rem;
  text-align: center;   
}

.modal-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.modal button {
  width: 40%;
  background-color: #222222;
  outline: 1px solid #999999;
}

.modal button:hover {
  background-color: #333333;
}

.modal input {
  width: 80%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 1px solid #666666;
  background-color: #222222;
  color: #ffffff;
}

.form-row {
  display: flex;
  gap: 1rem; /* space between label/input pairs */
  align-items: center;
  margin-bottom: 1rem;
  outline: 1px solid #666666;
  padding: 0.5rem;
  border-radius: 4px;
}

.form-row label {
  display: flex;
  flex-direction: column; /* label on top of input in each pair */
  font-weight: 500;
  color: #ffffff;
}