.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr 1fr;
  width: 100%;
  align-items: center;
  gap: 0.5em;
}

.title {
  grid-column: 2;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}