.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr 1fr;
  width: 100%;
  align-items: center;
  gap: 0.5em;
  padding-bottom: 2rem;
}

.title {
  grid-column: 2;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  .title {
    grid-column: auto; /* reset grid behavior */
    text-align: center;
  }
}