.desktop-only {
  display: table;
}

.mobile-only {
  display: none;
}

.task-cards {
  flex-direction: column;
  gap: 1rem;
}

/* Mobile switch */
@media (max-width: 600px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }
}

.task-list {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.col-check { width: 3rem; }
.col-due { width: 6rem; }
.col-status { width: 7rem; }
.col-actions { width: 9rem; }

th, td {
  padding: 0.6em 1em;
  border-bottom: 1px solid #333;

  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.action-buttons {
  display: flex;
  gap: 0.2rem; /* space between buttons */
  justify-content: center; /* optional: center in the column */
}
