.task-list, .completed-tasks {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  
}

th, td {
  padding: 0.6em 1em;
  border-bottom: 1px solid #333;

  max-width: 0;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}