:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.completed-tasks-hr {
  margin: 3em 0;
  border: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr 1fr;
  width: 100%;
  align-items: center;
  gap: 0.5em
}

.title {
  grid-column: 2;
  text-align: center;
}

.form-task-name {grid-area: task-name;}
.form-due-date {grid-area: due-date;}
.form-task-input {grid-area: task-input;}
.form-due-date-input {grid-area: due-date-input;}
.form-add-task-button {grid-area: add-task-button;} 

.task-form {
  grid-column: 4;
  display: grid;
  gap: 0.8em;
  grid-template-areas: 
    "task-name       due-date"
    "task-input      due-date-input"
    "add-task-button add-task-button";

    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 8px;
    background-color: #1a1a1a;
}

.task-list, .completed-tasks {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  
}

th, td {
  padding: 0.6em 1em;
  border-bottom: 1px solid #333;

  max-width: 0;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #383333;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

